[2019-05-15 15:09] evelinec opened #1 "Peer review and testing checklist"
Peer Review: review the guide for all of the following points.

- [x] Check that the guide has working instruction and sample code
- [x] Check the quality of code according to the best coding practices
- [x] Check the quality and presentation of guide according to [Structure and Style Guideline](https://github.com/OpenLiberty/draft-guides-template/wiki/Guidelines-for-Structure-and-Styles)
- [x] Ch

[2019-05-16 18:59] NimG98 commented on #1
Grammar Edits
======
- [ ] limit the use of “you”
  - template guidelines say don't use “you” a lot

### What you'll learn
- [ ] `“You will update a template interface that maps to the remote service that you want to call to use a CompletionStage return type making the method asynchronous.”` is too long. Could you make it 2 sentences, or add commas.
- [ ] Change lines after first sentence under **

[2019-05-21 13:44] proubatsis commented on #1
This is reasonably in line with the frequency it shows up in other guides.

I based it on the cdi guide which does have this comment: https://openliberty.io/guides/cdi-intro.html#injecting-a-dependency

---

I also fixed the guide not showing up in the list of guides.
I made a PR with the changes (#2), please review @NimG98.

[2019-05-23 13:56] NimG98 commented on #1
Everything LGTM. Peer review checklist is complete

[2019-05-23 20:35] evelinec commented on #1
@NimG98 can you explain how the following point was done:

- Ensure that the automation tests are able to run with continuous daily builds

[2019-05-27 20:40] evelinec opened #3 "Review feedback"
What you'll learn

- [x] In the first paragraph, the term `CompletionStage` can use a explanation, or a link to one?

- [x] It feels like the "What is asynchronous programming?" section is needed right after the first paragraph to let user know right away what is asynchronous programming.

Try what you'll build

- [x] The scenario described here doesn't show anything related to the asynchronous pr

[2019-05-28 19:48] NimG98 commented on #1
Daily build automation tests run successfully.

[2019-05-28 20:56] evelinec commented on #3
The PR #5 got rid off the "Try what you'll build" section. This section is required as a general section for a guide. Unless you really thing nothing useful can be described here, ie, in kube guide, then it's ok to remove. Otherwise, there's value for this section.

[2019-05-29 15:51] evelinec commented on #1
Looks good.

[2019-05-29 15:51] #1 closed

[2019-05-29 15:54] evelinec commented on #3
I'm okay with the explanation to the above. Just had the feeling that this guide is a little short in terms of content. We can address these things in content reviews. Closed for now.

[2019-05-29 15:54] #3 closed

[2019-05-31 21:35] gkwan-ibm opened #6 "Dev content review feedback"
- **What you’ll learn**
  - [ ] looks like "Consuming RESTful services with template interfaces" guide is a prereq. Instead making the following statement at the end of this section, suggest to ask readers to read that guide first
    - If you are not too familiar with MicroProfile Rest Client, then read the Consuming RESTful services with template interfaces guide to learn more about it.

  - [x]

[2019-08-13 14:17] evelinec opened #7 "Peer review and testing checklist"
Peer Review: review to be done by a peer member.

- [x] Check that the guide has working instruction and sample code
- [x] Check the quality of code according to the best coding practices
- [x] Check the quality and presentation of guide according to [Structure and Style Guideline](https://github.com/OpenLiberty/draft-guides-template/wiki/Guidelines-for-Structure-and-Styles)
- [x] Check the consis

[2019-08-13 16:50] gkwan-ibm opened #8 "Dev content review feedback 2"
- **What you’ll learn**
  - [ ] may need a comma between "seated" and "a waiter"
    - "After being seated a waiter will take your order."
  - [ ] may need a comma between "point" and "you"
    - "At this point you will have to wait a few minutes'
- review not complete yet

[2019-08-13 17:29] #6 closed

[2019-08-13 19:09] evelinec opened #9 "Peer review feedback"
What you'll learn

- [ ] IMO, in the first paragraph, where the `CompletionStage` class is first mentioned, it may be good to call it out as "a completion stage class".. or otherwise, add link to where more info can be found for the class.
=> Gilbert suggested to use `CompletionStage` interface

- [x] May be good to spell out the first occurrence of "IO".

- [ ] "Going back to the restaurant analo

[2019-08-14 18:13] evelinec commented on #8
@justineechen can help with changing the `dockerfile-maven-plugin` for this guide. Thanks.

[2019-08-16 14:35] evelinec opened #10 "Code feedbacks"
Models

- [x] The word "model" doesn't seem needed for each model, since they are already under the models directory

- [x] The license header needs to be added to all the model classes, some are missing, ie, ErrorResponseModel.java

Inventory

- [x] There are some additions to the original `Inventory` service, but that's not being mentioned in the guide?
=> Requirement for the application, not fo

[2019-08-19 14:08] evelinec commented on #9
On Windows, the tests are still failing, here's the error message:

[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running it.io.openliberty.guides.inventory.InventoryEndpointTest
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger impl

[2019-08-19 14:32] evelinec opened #12 "Automation tests setup is needed"
Currently the automation test is running `mvn -q clean install`, it may not be accurate for this guide.

[2019-08-19 14:52] evelinec commented on #9
On Linux, the tests failure was due to port conflict. After resolving that, all of the tests were ran successfully.

[2019-08-19 18:42] evelinec commented on #12
Checked with Panagiotis, the current test is correct.

`mvn install` builds 4 docker images for the 4 microservices, `System`, Inventory`, `Job` and `Gateway`, and ran the 5 test classes, `gateway.InventoryEndpointTest`, `inventory.InventoryEndpointTest`, `system.JobEndpointTest`, `gateway.JobEndpointTest` and `SystemEndpointTest`, which is same as what's instructed in the guide (ie, to run `mvn p

[2019-08-19 18:42] #12 closed

[2019-08-19 18:45] evelinec commented on #7
Verified that draft guide is running CT test successfully with OpenJDK8: https://travis-ci.org/OpenLiberty/draft-guide-microprofile-rest-client-async/builds/573879253

[2019-08-19 18:54] evelinec commented on #7
Diff on the `start` and `finish` directory. Panagiotis pointed out that the diff in the `gateway` service is intended for the initial synchronous client API.

diff -r start/ finish/
diff -r start/gateway/src/main/java/io/openliberty/guides/gateway/JobResource.java finish/gateway/src/main/java/io/openliberty/guides/gateway/JobResource.java
41,47c41,54
<     public JobListModel getJobs() {
<

[2019-08-21 17:11] evelinec commented on #10
- removed 'json-p` feature in `server.xml` for all 4 services
- removed the unnecessary `concurrent` and `mpConfig` features and dependencies for the `gateway` service

[2019-08-21 18:03] evelinec commented on #10
- changed parent artifactId to `reactive-demo`

[2019-08-21 18:11] evelinec commented on #9
Working with Steven on the image and table scrolling issues.

[2019-08-21 19:46] evelinec commented on #8
The table scrolling issue is being fixed in https://github.com/OpenLiberty/openliberty.io/issues/1330. Verified the UI test site, changes look good.

[2019-08-22 19:03] evelinec opened #13 "Review the image for the guide"
@cajaygle can you help review the image to be published with this guide in the `assets` directory? Thank you.

[2019-08-22 19:03] evelinec commented on #10
Completed

[2019-08-22 19:03] #10 closed

[2019-08-22 19:24] evelinec commented on #7
Completed

[2019-08-22 19:24] #7 closed

[2019-08-23 17:20] gkwan-ibm opened #14 "better artifactid ?"
now is <artifactId>reactive-demo</artifactId>

suggest <artifactId>microprofile-rest-client-async</artifactId>

[2019-08-23 18:46] evelinec commented on #14
To fixed the slf4j dependency problem, changed the dependencies to `provided` for both the `job` and `system` services.

[2019-08-23 18:49] evelinec commented on #14
@gkwan-ibm The kafka dup version warning in the `job` service was because the version is already specified in the parent pom. Removing the version in the `job` service pom resolves the problem.

[2019-08-23 19:25] evelinec commented on #14
Addressed the checked boxes in https://github.com/OpenLiberty/draft-guide-microprofile-rest-client-async/commit/73145648f762bbb6f724eea6ad3b86f1ee927db7. @gkwan-ibm pls review. Thanks.

[2019-08-23 20:11] gkwan-ibm commented on #14
looks fine, except that will change `<scope>runtime</scope>` to `provided` for slf4j?

[2019-08-23 20:29] evelinec commented on #14
No, we can't do that. Explained in the earlier comment. ^

[2019-08-23 21:38] gkwan-ibm commented on #14
can we make slf4j dependency always?

[2019-08-27 15:41] andymc12 opened #15 "SME Review: Consider renaming duplicated classes"
The guide looks really good.  I think it gets the ideas across very well.

The main problem that I ran into was that some of the same classnames are used in multiple places.  So when the guide was telling me to update `JobResource`, I used my IDE's find type to find JobResource, but the first one to come up was the wrong one (in the `job` directory as opposed to the `gateway` directory).  Using di

[2019-08-27 21:18] #15 closed, assigned to evelinec

[2019-08-29 13:07] carrenelloyd commented on #13
Great, let me know how it looks in the build once you added it.

[2019-08-29 13:44] evelinec commented on #13
@carrenelloyd can you send me a `png` file? Or you can push the file into the `assets` folder in this repo too. Thank you.

[2019-08-29 14:41] JusteenR opened #16 "User Review"
User Review:

Allow a person with a fresh mind to read the guide and execute the steps described in the guide, test whether each step is clear enough to understand, and no logic errors.

Review and walkthrough by a non-SME or a new user with a critical and fresh pair of eyes:

- [x] Record the time it takes to go through the entire guide (Around 20 min)
- [x] Test each step in the guide is clear a

[2019-08-29 14:47] evelinec commented on #16
Java version Justeen used:

[code]

[2019-08-29 17:32] evelinec commented on #13
Here's the refreshed draft site with the design image: https://draft-guides.mybluemix.net/guides/microprofile-rest-client-async.html

[2019-08-29 20:50] gkwan-ibm opened #17 "Dev content review - 4"
- [x]  in readme, license year is `2019` instead of `2017, 2019`
- section "What you’ll learn"
  - [x] a bit odd only have 1 subsection "What is asynchronous programming?" and all long content. If use subsection, should it be more? Or remove the subsection and just bold the question
- Where to next?
  - [ ] add "Consuming RESTful services using the reactive JAX-RS client" guide

[2019-08-30 13:54] evelinec commented on #17
The "Consuming RESTful services using the reactive JAX-RS client" guide is not published yet. We don't add draft guides to "where to next", do we? @gkwan-ibm

[2019-08-30 14:00] gkwan-ibm commented on #17
If add ahead, any problem? Display incorrect info or no show?

Or make an other issue as a reminder to update them after publish

[2019-08-30 14:06] evelinec commented on #17
Yeah, I think it may display as empty box. Will open a separate issue as a reminder.

[2019-08-30 14:07] evelinec opened #18 "Reminder to add reactive guide as related guide"
To add "Consuming RESTful services using the reactive JAX-RS client" guide, when ready.

[2019-08-30 14:13] evelinec commented on #17
Others are addressed in https://github.com/OpenLiberty/draft-guide-microprofile-rest-client-async/commit/9017a2748a092477eaf61ab0f1c4e4978f4ff315.

[2019-08-30 14:22] #9 closed

[2019-08-30 14:29] evelinec commented on #16
The problem cannot be reproduced on my Mac nor Linux environments.

[2019-08-30 17:29] evelinec opened #19 "Test with hotspot jdk12 error message"
[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running it.io.openliberty.guides.system.SystemEndpointTest
Exception in thread "tcp-unix-proxy-accept-thread" java.lang.ExceptionInInitializerError
	at org.newsclub.net.unix.AFUNIXSocket.<init>(AFUNIXSocket.java:36)
	at org.newsclub.net.unix.AFUNIXS

[2019-08-30 18:53] NimG98 opened #20 "Nimrah's Feedback"
**Building and running the application**
- Make the url `http://localhost:8080/api/jobs/{jobId}` unclickable
- Make the `POST http://localhost:8080/api/jobs/` unclickable
- Move the sentence _"The services will take some time to become available."_ after the `./scripts/start-app` command and before the sentence "You can access the application by making requests to the gateway job endpoints."
- `Wi

[2019-08-30 19:43] evelinec commented on #16
The problem can be reproduced with a clean .m2 repository, run `mvn clean package` and then `mvn verify` in the child module, which is `gateway` in this guide.

The workaround is to run `mvn clean install` in the parent directory. Then the `jar` can be found in for the `gateway` service tests.

It comes down to the definition of the maven `package` vs `install`. `package` compiles the code and pac

[2019-08-30 20:06] evelinec commented on #20
- [ ] Make the url `http://localhost:8080/api/jobs/{jobId}` unclickable

- [ ] Make the `POST http://localhost:8080/api/jobs/` unclickable

- [ ] Move the sentence _"The services will take some time to become available."_ after the `./scripts/start-app` command and before the sentence "You can access the application by making requests to the gateway job endpoints."

- [ ] `Windows`,`Linux`,`Mac` s

[2019-09-03 14:51] evelinec commented on #19
Discussed with team, JDK12 is not a supported level yet. Closed.

[2019-09-03 14:51] #19 closed

[2019-09-03 15:27] evelinec commented on #16
Discussed with team and agreed to changed `mvn package` to `mvn install`. Issue is resolved and the guide is updated. @JusteenR can you pls verify and close the issue when everything is good? Thank you.

[2019-09-03 15:28] evelinec commented on #20
Fixed. @NimG98 can you review this issue and close when ready? Thanks.

[2019-09-03 15:29] evelinec commented on #18
Added related guide.

[2019-09-03 15:33] #17 closed

[2019-09-03 15:55] JusteenR commented on #16
When I run the `mvn clean install` command I get the following error:

-------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running it.io.openliberty.guides.system.SystemEndpointTest
[ERROR] Tests run: 2, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 51.915 s <<< FAILURE! - in it.io.openliberty.guides.sy

[2019-09-03 18:23] NimG98 commented on #20
- Failure when running `mvn verify`

[code]

[2019-09-03 18:32] NimG98 commented on #20
Everything LGTM.

[2019-09-03 18:32] #20 closed

[2019-09-03 18:33] JusteenR commented on #16
When I first ran `mvn clean install` I got the below errors:

When I run the mvn clean install command I get the following errors:

[code]

And...

[code]

When I re-ran the command it was successful.
The api does not open on the safari browser but it does open on the chrome browser. I am unable to run the curl command to POST I get the error:

`curl: (6) Could not resolve host: localhost`

[2019-09-03 18:39] evelinec commented on #16
When I re-ran the command it was successful.
=> hm, will look into this and see if I can reproduce this issue.

The api does not open on the safari browser but it does open on the chrome browser.
=> Will investigate.

I am unable to run the curl command to POST I get the error: curl: (6) Could not resolve host: localhost
=> This is the timing issue. You need to wait for the services to become avai

[2019-09-03 20:14] carrenelloyd commented on #13
Here is the updated diagram with the following changes:

"...squeeze the spaces between Kafka and Job, by bringing the two green bubbles up to align with Consume system status? Similarly for the Job and Service Gateway."

@evelinec We should set a max height/width this image is scaled to, or else it looks really blurry. If scaling is a must, then we should consider using an SVG and not a PNG. PNG

[2019-09-03 20:32] yeekangc commented on #13
The additions of the user and the browser icon look good.  Thanks!

Then, usually, we don't do boxes for the operations between the services.  Can we simply have the words somehow instead of putting them in green boxes?

[2019-09-04 15:25] carrenelloyd commented on #13
@yeekangc I don't suggest removing the green bubbles and not having the text contained in a bubble, the design will start to be compromised. @evelinec Suggested the "Consume job", "Publish job results", "Publish system status" span the width of all those arrows, without the container to span it will look like only the middle arrow "System 2" contains those actions. Perhaps discuss this further bet

[2019-09-04 15:51] evelinec commented on #13
Initially, the design had the 3 actions on the right hand, under `System N`, which isn't right. I'm good with spanning the 3 actions across all the arrows.

[2019-09-04 16:54] yeekangc commented on #13
On 2nd thought, let us go with the latest that you have, @carrenelloyd, and consider what's more when we have additional feedback.'

Usually it's words on or besides the arrows without boxes.  One can check out "Collaboration Diagrams" for examples.

[2019-09-04 16:57] evelinec commented on #13
Updated draft with the latest design: https://draft-guides.mybluemix.net/guides/microprofile-rest-client-async.html#what-youll-learn

[2019-09-04 17:10] evelinec commented on #13
Clarified that the png image is no longer blurry because we're not using scaling for this image. Also checked with @carrenelloyd that she's not going to make further changes. Thank you. Closed.

[2019-09-04 17:10] #13 closed

[2019-09-04 17:11] evelinec commented on #18
The async and reactive client guide may get published together. This is resolved now.

[2019-09-04 17:11] #18 closed

[2019-09-05 15:39] evelinec commented on #16
Since the issue encountered is environmental on the Justeen's laptop, team decided to ask Justeen to run the guide's test on another system to complete this user review and testing task.

[2019-09-06 15:02] evelinec commented on #16
@JusteenR tested the guide successfully on a Linux VM. She agreed to close this issue.

[2019-09-06 15:02] #16 closed

[2019-09-09 11:07] yeekangc opened #23 "averageResult is not shown in sample output"
averageResult is mentioned in the guide but not shown in the sample output.  This may be confusing to some users.

This is a nice-to-have suggestion can be handled later.

[2019-09-09 11:09] yeekangc opened #24 "Consider describing changes first before replacement"
Users are asked to replace the content of the files first before the changes are described.  Once replaced, it will be harder for users to do a compare and contrast between the before and after.  Consider describing the changes -- at least, summarizing -- before the replacement instruction.

This is a nice-to-have suggestion can be handled later.

[2019-09-11 20:42] Charlotte-Holt opened #25 "ID review feedback"
ID feedback is provided in the attached Word document. Please let me know if you have any questions. After updates are made, I'll add the ID reviewed label to https://github.com/OpenLiberty/guides-common/issues/162.

[RESTful services asynchronously_Guide Comments.docx](https://github.com/OpenLiberty/draft-guide-microprofile-rest-client-async/files/3602649/RESTful.services.asynchronously_Guide.Com

[2019-09-12 16:39] gkwan-ibm opened #27 "Restore the tests with zookeeper and kafka"
When the issue https://github.com/bitnami/bitnami-docker-kafka/issues/64 is resolved, we can restore the tests from `dev-tc` branch

[2019-09-12 20:26] MaiHameed opened #28 "End-to-end Linux test errors"
System specs:
![image](https://user-images.githubusercontent.com/26514093/64815618-ff23c380-d573-11e9-80d2-2db6e91d5813.png)

Building and running the application
---
![image](https://user-images.githubusercontent.com/26514093/64815500-b66c0a80-d573-11e9-9917-5a7b53503b70.png)

Running the `curl` commands on a Linux system produces the following error:

![image](https://user-images.githubuserconte

[2019-09-13 04:01] yeekangc opened #30 "Review class names"
- Review class names and consider names that describe the purpose of the classes without ambiguity -- e.g. JobGatewayClient can be interpreted as a client to access the job gateway, which doesn't exist -- while at the same time avoid duplicate class names.

- Review and update guide where appropriate to use updated class names and use consistent names/terms to describe the same entity throughout.

[2019-09-13 13:29] MaiHameed commented on #28
The server starts, then after a few moments it disappears... and when I run the `curl` command when the server was running, I got the following response that differs from the JSON formatted expected response as shown in the guide:
![image](https://user-images.githubusercontent.com/26514093/64866204-f7622e80-d608-11e9-9717-c4bbee12ff8a.png)

[2019-09-13 15:20] gkwan-ibm opened #32 "Publishing Tasks checklist"
Publishing Tasks

- [x] Create a PR from `dev` to `master` branch
- [x] Create `qa` branch from `master` branch
- [x] Rename the guide repo
- [x] Refresh `qa` staging site and verify
- [x] If qa site has no problem, request to refresh openliberty.io site
- [x] For `master` branch, add a tag by creating a new release for this repo with name "1st-release"

[2019-09-13 15:22] gkwan-ibm opened #33 "Post-Publishing Tests Checklist"
Post-Publishing Tests

- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links) of the guide on openliberty.io
- [x] Clone repo and test finish directory with no error

Other post-publishing tasks (to be done by the Admin Team)
- [x] Add description for the repo with link to guide's published website
- [x] Double check the SEO title and description are added for the g

[2019-09-13 17:57] #32 closed

[2019-09-16 14:33] evelinec commented on #28
@MaiHameed can you assess whether this issue still exist?

[2019-09-16 14:48] #28 closed

[2019-09-16 16:23] evelinec commented on #24
@yeekangc noticed you had made some changes to the statement. Thank you. Do you think the feedback/suggestion is fully addressed now? If not, the issue is to be assigned to @jonathanxue. Thanks.

[2019-09-16 16:46] #24 closed

[2019-09-20 16:23] gkwan-ibm commented on #23
@yeekangc  OptionalDouble is used for averageResult, that why averageResult is not shown by the `/api/jobs` if no job is created. IMO, it is good behavior. I suggest to add a paragraph to explain it instead of showing `{"count":0,"results":[], "averageResult":0}` or  `{"count":0,"results":[], "averageResult":null}` (if a list is empty, average is invalid).

[2019-09-20 16:29] yeekangc commented on #23
Yes, it will be useful to explain the API appropriately.

[2019-09-23 13:52] jonathanxue commented on #30
For the class names, I'm not sure if there's a way to rename them to be specific, and at the same time not too long. Something like 'GatewayClientForJob' feels too clunky. The guide already includes clarifications for the role of these classes too, so I think it better to maybe just add a bit more clarification in the guide, and leave the names as they are.

[2019-09-23 14:32] yeekangc commented on #30
The confusion comes with the use of "Gateway".  If we can think of alternate names without "Gateway" in them.  That would be a good start.

[2019-09-24 15:05] #33 closed

[2019-09-24 15:48] evelinec commented on #30
Gateway is the name used in the BFF pattern: https://microservices.io/patterns/apigateway.html#variation-backends-for-frontends. `JobGatewayClient` is interpreted as the gateway client to access the `Job` service, perhaps we name it as `JobGatewayclient`? It was initially named as `JobClient` in the `gateway` service, but we also have a `JobClient` for the `job` service. So we thought it was appro

[2019-09-24 16:05] yeekangc commented on #30
Yes, there is a gateway in a BFF pattern.  The BFF itself can be considered a gateway.

Then, the clients here aren't gateways themselves but REST clients to remote services that the gateway service is meant to be a gateway to.

That's what needs clarification.  Off the top of my head, an option is `JobServiceClient`.

Also, I wonder if the clients should be common across the services too.  Haven'

[2019-09-24 16:09] evelinec commented on #30
I'm good with `JobServiceClient` as the client class name. @jonathanxue ^

[2019-09-24 16:17] jonathanxue commented on #30
Would something like ```JobGatewayServiceClient``` be more precise? Then we know its strictly between the gateway and job micro services. I feel that ```JobServiceClient``` could also be misinterpreted for a client between the job and system

[2019-09-24 16:27] yeekangc commented on #30
The client if it's done with MP Rest Client will map directly to the remote service that it should invoke.  Whether it's between job and gateway or job and system, the client to job should be the same?

[2019-09-24 17:21] gkwan-ibm commented on #30
@jonathanxue
- [ ] refactor the following:
  - InventoryGatewayClient -> InventoryClient
  - JobGatewayClient -> JobClient
  - InventoryGatewayResource -> GatewayInventoryResource
  - JobGatewayResource -> GatewayJobResource
- [ ] Update the README

[2019-09-24 17:28] evelinec commented on #30
@gkwan-ibm `JobClient` and `InventoryClient` are what we had initially. There's a `JobClient` class in the `Job` service as well that causes confusion to users, see https://github.com/OpenLiberty/guide-microprofile-rest-client-async/issues/15.

[2019-09-25 14:51] evelinec commented on #30
I'm good with the first 4 refactor/rename of the classes. What's the reason we are renaming the test classes?

[2019-09-25 15:00] yeekangc commented on #30
IT is the default for integration tests for the failsafe plugin.  If I am not mistaken, this is clean-up to follow typical practices.  We will want to do the same for all guides too.

[2019-09-27 13:26] DannyS03 opened #37 "Convert teardown section to use os-specific tabs"

[2019-09-27 14:39] #23 closed

[2019-09-27 14:39] #30 closed

[2019-10-04 13:26] #37 closed

[2020-03-20 02:52] jimmy1wu opened #48 "Inconsistencies with HTTP endpoints"
Some are hyperlinks and some are plain text.

![image](https://user-images.githubusercontent.com/33457590/77131936-f97fcc80-6a33-11ea-8d48-ded829412a9a.png)

[2020-03-20 17:16] gkwan-ibm opened #49 "Convert the guide to use OpenLibertyCafe app"
Need to replace the app by the OpenLibertyCafe app and update the README

[2020-03-20 17:18] gkwan-ibm commented on #49
Proposed flow:
- go to start directory
- build the app
- run the app
- inspect the order service messages.log
  - orders should be logging in sync
- stop the app
- update the OrderClient to use following to make the clients call async
  - @Asynchronous
  - CompletionStage<Response> createOrder(Order order);
- ???update the OpenLibertyCafeOrderResource.createOrder to sync the orderClient.createOrde

[2020-03-20 17:21] gkwan-ibm commented on #49
tasks:
- [ ] create the app in start with
  - `Response createOrder(Order order);`
- [ ] prove the logs in the order service messages.log are in sync
- [ ] (Gilbert) investigate sync the code in `OpenLibertyCafeOrderResource.createOrder()`
- convert the guide
  - replace the app by OpenLibertyCafe app
    - [ ] in the finish directory
    - [ ] in the start directory
  - [ ] update the readme

[2020-03-23 14:37] ankitagrawa commented on #49
- Application converted.
- Modifying the readme.

[2020-03-24 15:10] gkwan-ibm commented on #49
- updated the readme
- setting the lgdev to review

[2020-03-24 22:39] gkwan-ibm commented on #49
- **What you’ll learn**
  - [ ] waiter -> waitstaff
  - [ ] update the diagram from the reactive messaging guide
    - need to discuss the diagram is necessary or draw another focus on order and openLibertyCafe
  - [ ] "backends for frontends" -> "backend for frontend"
  - [ ] no need the detail to explain the whole app
    - keep the paragraph "The microservice that you will modify is the OpenLib

[2020-03-25 14:14] gkwan-ibm commented on #27
will be addressed by https://github.com/openliberty/guide-microprofile-rest-client-async/issues/49
- the tests will be changed by the new app

[2020-03-25 14:15] gkwan-ibm commented on #48
will be addressed by https://github.com/openliberty/guide-microprofile-rest-client-async/issues/49
- the table will be removed because of using the new app

[2020-03-26 14:44] gkwan-ibm commented on #49
- addressing the dev content review feedback

[2020-03-26 19:48] #48 closed

[2020-03-27 15:10] gkwan-ibm commented on #49
- ready for dev content review
- need to address the auto test failure

[2020-05-05 17:01] gkwan-ibm opened #53 "Convert the guide to use the new app from the reactive messaging guide"
Need to replace the app by the new System/Inventory app, update the gateway service, and update the README

- [ ] dev mode
  - [ ] use the ideal(simplified) pom.xml
  - [ ] update the Readme content to use dev mode
    - [ ] keep the flow same (let discuss if the flow not work)
  - [x] convert *Test class to *IT
  - [x] convert to use JUnit 5
    - [x] use JUnit5 test order if need
  - [x] make su

[2020-05-05 17:01] gkwan-ibm commented on #49
design changed so it will be addressed by #53

[2020-05-05 17:01] #49 closed

[2020-06-02 15:50] gkwan-ibm commented on #27
will be addressed by #53

[2020-06-15 15:12] gkwan-ibm commented on #53
- have a new design for the app and revising the application

[2020-06-19 15:12] gkwan-ibm commented on #53
- the app was completed
- updated the readme
- ready for dev content review

[2020-06-19 20:42] gkwan-ibm opened #61 "Dev content review for updating the app"
- [x] add "Additional prerequisites" section as the reactive messaging guide
- **What you’ll learn**
  - [x] The 2 paragraphs "The application that you’ll be working... The system microservice records ..." -> "The application in this guide consists of three microservices, `system`, `inventory`, and `query`. Every 15 seconds, the `system` microservice calculates and publishes an event that contains

[2020-06-22 14:14] AustinSeto commented on #61
Changes made in `app-replacement` branch and pushed to lgdev site

[2020-06-23 16:54] gkwan-ibm commented on #61
- **What you’ll learn**
  - [ ] the diagram is too big, need to improve it
  - [ ] remove "in the `start/src` directory."
  - [ ] combine the paragraph "If yoy want to learn..." to the above paragraph.
- **Building and running the application**
  - [ ] remove statement "Install Docker by ...." because added the additional prereq section
  - [ ] the qurey command is wrong under "Run the following c

[2020-06-23 17:29] AustinSeto commented on #61
Changes made in `app-replacement` branch and pushed to lgdev site

[2020-06-23 18:44] #61 closed

[2020-06-23 18:58] gkwan-ibm commented on #53
peer review:
- [ ] Mac (Darren)
- [ ] Linux
- [ ] Window

[2020-06-24 13:19] TiagoF99 opened #62 "Peer Review - Windows"
Functionality
---
- [ ] Check that the guide has working instructions and sample code
- [ ] If any URL visits, try them on different browsers: Firefox, Chrome, Safari
- [ ] If any URL visits, try `curl` command where applicable

Formatting & Presentation
---

`README.adoc` checks:
- [ ] Ensure that command substitutions use the `$(cmd)` format and not ``` `cmd` ```
- [ ] Ensure that the console ou

[2020-06-24 14:13] jj-zhang opened #63 "Peer Review - Mac"
Functionality
---
- [x] Check that the guide has working instructions and sample code
- [x] If any URL visits, try them on different browsers: Firefox, Chrome, Safari
- [x] If any URL visits, try `curl` command where applicable

Formatting & Presentation
---

`README.adoc` checks:
- [x] Ensure that command substitutions use the `$(cmd)` format and not ``` `cmd` ```
- [x] Ensure that the console ou

[2020-06-24 14:31] TiagoF99 commented on #62
**Updating a REST resource to asynchronously handle HTTP requests**
- [ ] ```JAX-RS resources can also have asynchronous methods. So instead of returning a Properties type, you can return a CompletionStage<Properties> type.``` should maybe be: ```JAX-RS resources can also have asynchronous methods. Therefore, you can return a CompletionStage<Properties> type instead of a Properties type```
**Build

[2020-06-24 14:35] TiagoF99 commented on #62
Due to issues with running docker on a windows VM, Danny will be running a quick e2e for the guide on his windows machine to verify it works.

[2020-06-24 14:38] jj-zhang commented on #63
#### Running the tests

- [ ] When I was running the test, there is several warnings:
[code]

[2020-06-24 15:34] k-rtik opened #64 "Peer Review - Linux"
-  [x] Warning when running `mvn -pl models install`:
[code]

- [x] Warning when packaging the server running the tests / Docker images
[code]
[code]
[code]
- [x] The integration test for `system` failed sometimes and `query` failed always because of the following error:
[code]

   I suspect it's because the MicroShed test does not wait long enough for the server to start. I noticed that if the se

[2020-06-24 15:44] AustinSeto commented on #63
slf4j warning is expected, see https://github.com/OpenLiberty/guides-common/issues/444
Should be fine

[2020-06-24 15:47] #63 closed

[2020-06-24 17:07] AustinSeto commented on #64
Unable to replicate warning from running `mvn -pl models install` but noticed out of date dependencies in `pom.xml` for `models`. These have been updated, hopefully solves issue.

slf4j warning is expected, see https://github.com/OpenLiberty/guides-common/issues/444

Increased timeout for `system` test to one minute, hopefully a long enough wait for the tests now.

[2020-06-24 17:44] AustinSeto commented on #62
Updated wording to "JAX-RS resources can also have asynchronous methods. These would return a CompletionStage<Properties> type instead of a Properties type." as discussed on Slack.

Changed service availability check to just tell user that service is available once endpoint output is non-empty and wait and check until it is

Punctuation fix made

Checked pom files, microprofile dependency is after

[2020-06-24 17:53] TiagoF99 commented on #62
**Building and running the application**
- [ ] ```Output will be empty until the service is available. This normally takes a few minutes.```. I think this is redundant as it is mentioned in the previous paragraph

[2020-06-24 17:58] AustinSeto commented on #62
Redundant paragraph removed

[2020-06-24 18:14] TiagoF99 commented on #62
feedback addressed. Closing issue now.

[2020-06-24 18:14] #62 closed

[2020-06-25 20:36] #64 closed

[2020-06-26 15:15] gkwan-ibm commented on #53
- peer review completed
- addressed SME feedback
- next ID review

[2020-07-06 15:07] gkwan-ibm commented on #53
- ID review completed

[2020-07-07 21:11] yeekangc opened #67 "Better explain the use of CountDownLatch"
Helpful to explain why CountDownLatch is used and its benefits besides it's being used.

Also, relate to how it helps with dealing with multiple async requests that are being sent out.

[2020-07-07 21:11] yeekangc commented on #67
@gkwan-ibm, FYI.

[2020-07-14 15:11] gkwan-ibm commented on #53
- need final approval from YK

[2020-07-14 15:41] AustinSeto commented on #53
YK's comments
Issue: https://github.com/OpenLiberty/guide-microprofile-rest-client-async/issues/67
PR into QA branch: https://github.com/OpenLiberty/guide-microprofile-rest-client-async/pull/68

[2020-07-21 14:38] gkwan-ibm commented on #53
- addressed the ID review feedback and approved
- ready to publish

[2020-07-21 17:37] TiagoF99 opened #71 "quick check"
[code]

- There seems to be some inconsitencys with the use of a CountDownLatch hotspot in this paragraph. The first two instances of `CountDownLatch` are hotspots but the following two are not. Also, i think the second `CountDownLatch` instance should instead be `countDown()` as that is what that sentence is talking about and what the hotspot itself points to.

[2020-07-21 17:38] TiagoF99 opened #72 "quick check"
- There seems to be some inconsitencys with the use of a CountDownLatch hotspot in this paragraph. The first two instances of `CountDownLatch` are hotspots but the following two are not. Also, i think the second `CountDownLatch` instance should instead be `countDown()` as that is what that sentence is talking about and what the hotspot itself points to.

[2020-07-21 17:38] #71 closed

[2020-07-21 20:34] yeekangc commented on #53
Providing final approval and signoff.  Please proceed with publishing.  Thank you, team.

[2020-07-21 22:08] #67 closed

[2020-07-27 15:07] #53 closed

[2020-08-07 14:04] TiagoF99 opened #75 "Exception logging in query resource"
- As outlined by the discussion here: https://github.com/OpenLiberty/draft-guide-reactive-rest-client/issues/59#issuecomment-670153918. We should include a `ex.printStackTrace()` in line 70 of the `QueryResource.java` class

[2020-08-07 14:05] TiagoF99 opened #76 "Test failures"
- I have noticed that the tests fail sometimes. This should be investigated.
<img width="1019" alt="Screen Shot 2020-08-07 at 9 59 14 AM" src="https://user-images.githubusercontent.com/45250015/89653704-77cef500-d895-11ea-97d4-283a930bdf93.png">

[2020-08-07 18:17] gkwan-ibm commented on #76
I noticed this too. Usually happens at the first time. If rerun, no problem. I doubt it is a timing issue.

[2020-08-10 21:02] AustinSeto commented on #76
Looked into this, I believe the issue is that updates can occur with old information. For example:

1. Try to update highest with system load of 3 (call A)
2. Try to update highest with system load of 2 (call B)
3. Call A reads a stored system load of 1, so it wants to update
4. Call B reads a stored system load of 1, so it wants to update
5. Call A updates stored system load to 3
6. Call B update

[2020-08-20 16:41] gkwan-ibm opened #82 "update the after_script: in the travis.yml"
Update the `after_script:` as the rest intro guide do.
Because there are multiple projects, something(s) need to be changed

[2020-08-24 15:43] #82 closed

[2020-11-19 16:47] griffinhadfield opened #90 "Error when running mvn verify"

[2020-11-19 17:13] griffinhadfield commented on #90
Created https://github.com/OpenLiberty/guides-common/issues/541 instead

[2020-11-19 17:13] #90 closed

[2020-11-25 10:37] Emily-Jiang opened #93 "Align with Rest Client 2.0"
Update this guide to use MP Rest Client 2.0, which will be part of MP 4.0

[2021-02-23 19:37] gkwan-ibm commented on #93
only update the pom.xml and server.xml to latest versions

[2021-06-01 19:34] gkwan-ibm commented on #93
close
- the [guide](https://openliberty.io/guides/microprofile-rest-client-async.html) was updated

[2021-06-01 19:34] #93 closed

[2021-06-22 19:56] #27 closed

[2022-03-06 18:01] krzysztof-dzik opened #128 "startContainers.bat is a sloppy copy of .sh and should look like:"
@ECHO OFF
set KAFKA_SERVER=kafka:9092
set NETWORK=reactive-app

docker network create %NETWORK%

docker run -d ^
  -e ALLOW_ANONYMOUS_LOGIN=yes ^
  --network=%NETWORK% ^
  --name=zookeeper ^
  --rm ^
  bitnami/zookeeper:3

start /b docker run -d ^
  -e KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181 ^
  -e ALLOW_PLAINTEXT_LISTENER=yes ^
  -e KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092 ^
  --h

[2022-04-22 21:53] gkwan-ibm commented on #128
Thank ypu @krzysztof-dzik to report this issue. The issue should be addressed.

[2022-04-22 21:53] #128 closed, assigned to nobody